# Rider / IntelliJ IDEA
.idea/
*.iml
# Игнорировать все .idea в любых подпапках
**/.idea/


# VSCode
.vscode/
**/.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.log

# Other
*.DS_Store
__azurite*
